# ==========================================
# Archivo de entorno base
# Copia este archivo como `.env` y ajusta los valores
# ==========================================

# ==========================================
# Configuración general
# ==========================================
ENVIRONMENT=development
DEBUG=True

# ==========================================
# Imágenes
# ==========================================
MS1_IMAGE=jesval06/shopcloud-ms1-productos:latest

# ==========================================
# Puertos
# ==========================================
MS1_PORT=8001
MS2_PORT=8002
MS3_PORT=8003
MS4_PORT=8004
MS5_PORT=8005