MYSQL_ROOT_PASSWORD=secret_password_aqui
MYSQL_DATABASE=shopcloud_productos
MYSQL_PORT=3306

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret_password_aqui
DB_NAME=shopcloud_productos
DATABASE_URL=

POSTGRES_DB=shopcloud_postgres
POSTGRES_USER=shopcloud
POSTGRES_PASSWORD=secret_password_aqui
POSTGRES_PORT=5432

MONGO_URI=mongodb://127.0.0.1:27017/shopcloud_usuarios
MONGO_PORT=27017

ENVIRONMENT=development
DEBUG=False
PORT=8003
JWT_SECRET=change_me_in_dev
JWT_EXPIRES_IN=1d
ADMINER_PORT=8080
