MYSQL_ROOT_PASSWORD=secret_password_aqui
MYSQL_DATABASE=shopcloud_productos
MYSQL_PORT=8005

POSTGRES_DB=shopcloud_postgres
POSTGRES_USER=shopcloud
POSTGRES_PASSWORD=secret_password_aqui
POSTGRES_PORT=5432

MONGO_PORT=27017

ADMINER_PORT=8080
